[Unit]
Description=sfVisionETL Service
After=network.target mysql.service

[Service]
Type=simple
User=administrator
WorkingDirectory=/home/administrator/etl_scripts
ExecStart=/usr/bin/python3 /home/administrator/etl_scripts/visionETL.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

# Logging
StandardOutput=append:/var/log/etlService.log
StandardError=append:/var/log/etlService.log

[Install]
WantedBy=multi-user.target
